#landing {
background-image: url("./images/PS Wallpaper.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

h1,h2,h3,h4 {
	font-family: "Permanent Marker", cursive;
}
* {
	font-family: "Urbanist", sans-serif;
}